#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
}

.sl-spinner {
  border: 5px solid #fff !important;
}

#search-form {
    text-align: center;
    margin-top: 36px;
}

#search-input {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #808080;

    width: 272px;
    height: 40px;
    padding: 8px 16px;
    border: 1px solid #808080;
    border-radius: 4px;
}

#search-input:hover {
    border: 1px solid #000;
}

#search-input:not(:placeholder-shown) {
    border-color: #4e75ff;
    color: #2e2f42;
    background-color: #fff;
  }

.submit-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border-radius: 8px;
    margin-left: 8px;
    padding: 8px 16px;
    background: #4e75ff;
    border: none;
}

.submit-btn:hover {
    background: #6c8cff;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin: 32px 150px 36px;
    padding: 0;
    list-style: none;
  }
  
  .photo-card {
    flex: 1 1 calc(33.333% - 16px);
    max-width: calc(33.333% - 16px);
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .photo-card:hover {
    transform: scale(1.03);
  } 

  .photo-card img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .photo-card .info {
    padding: 10px;
    font-size: 14px;
    color: #333;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .photo-card .info p {
    margin: 4px 0;
  }

  .simple-lightbox {
    background-color: rgba(46, 47, 66, 0.8);
}

.sl-wrapper .sl-navigation button.sl-prev,
.sl-wrapper .sl-navigation button.sl-next,
.simple-lightbox div.sl-counter,
.sl-wrapper button.sl-close {
    color: #fff;
}